{{!--
<button id="create-user">See All Volunteers</button>
<script id="date-template" type="text/x-handlebars-template"></script>
<div id="response"> --}}


    <h1>Welcome to the Events Page</h1>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="table" id="events-table">
                <thead>
                    <tr>
                        <th scope="col">Event Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each events}}
                    <tr>
                        <td>{{event_name}}</td>
                        <td>{{start_date}}</td>
                        <td>{{end_date}}</td>
                        <td>{{start_time}}</td>
                        <td>{{end_time}}</td>
                        <td>
                            <a class="edit-event" data-id="{{id}}">
                                <i class="large material-icons" style="font-size:36px;color:#268ac9">edit</i>
                            </a>
                            <i class="large material-icons" id="delete-event" data-id={{id}} style="font-size:36px;color:#c9282d">delete</i>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
    <!-- </div> -->
    {{!-- </div> --}}
<!-- This is for the create event modal -->


{{> events.create }}