<div class="row">
    <div class="col s12">
        <div class="card grey lighten-4 card small">
            <div class="card-content grey-text text-darken-4">
                <span class="card-title">Event Details</span>
                <div class="col s6">
                    <div class="row">
                        <p>
                            <strong>Event Name</strong>
                            <br>
                            {{event.event_name}}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <strong>Start Date</strong>
                            <br>
                            {{event.start_date}}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <strong>End Date</strong>
                            <br>
                            {{event.end_date}}
                        </p>
                    </div>
                </div>

                <div class="col s6">
                    <div class="row">
                        <p>
                            <strong>Start Time</strong>
                            <br>
                            {{event.start_time}}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <strong>End Time</strong>
                            <br>
                            {{event.end_time}}
                        </p>
                    </div>
                </div>

            </div>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
        </div>
    </div>
</div>

<h2>Signed Up Volunteers</h2>
<div class="row">
    <div class="col s10 offset-s1">
        <table class="table" id="events-table">
            <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Date</th>
                    {{#if admin}}
                    <th scope="col" colspan="2"></th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>